flask
numpy
pandas
matplotlib
seaborn
joblib
scikit-learn==1.7.2
xgboost
gunicorn
blinker      
click        
colorama     
Flask        
itsdangerous 
Jinja2       
MarkupSafe   
pip          
setuptools   
Werkzeug     